* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f8f9;
  color: #333;
  font-size: 18px;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.shopping-cart-area {
  padding: 40px 0;
}
.shopping-content {
  width: 100%;
}
.title {
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
  color: #565353;
}
.shopping-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.shopping-box {
  flex-basis: 50%;
}
.single-shopping {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  border-radius: 6px;
  background-color: #f5f8f9;
  box-shadow: 7px 7px 14px #dddfe0, -7px -7px 14px #ffffff;
  padding: 15px 15px;
}
.product-img {
  flex-basis: 35%;
}
.product-img img {
  width: 100%;
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 3px;
}
.product-details {
  flex-basis: 53%;
}
.product-details h3 {
  font-size: 22px;
  color: #565353;
  margin-bottom: 6px;
}
.product-details p {
  font-size: 18px;
  color: #565353;
  margin-bottom: 6px;
}
.quantity-box {
  margin: 16px 0;
}
.qntty-title {
  color: #565353;
  margin-right: 6px;
}
.button {
  border: 1px solid #eee;
  width: 30px;
  height: 30px;
  background: #f7f7f7;
  color: #ff6347;
  cursor: pointer;
  transition: 0.5s;
}
.button:hover {
  background-color: #ff6347;
  color: #f7f7f7;
}
.input-box input {
  width: 50px;
  height: 30px;
  border: 1px solid #eee;
  background-color: #eee;
  color: #ff6347;
  text-align: center;
  font-size: 18px;
  margin: 0 10px;
  outline: none;
}
.shopping-cart {
  flex-basis: 38%;
  padding: 20px 25px;
  border-radius: 6px;
  background: #f5f8f9;
  box-shadow: 7px 7px 14px #dddfe0, -7px -7px 14px #ffffff;
}
.product-cost {
  margin-bottom: 40px;
}
.product-cost h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #565353;
}
hr {
  margin: 10px 0;
}
.coupon-box {
  text-align: center;
  padding: 15px 20px;
}
.coupon-box h1 {
  font-size: 24px;
  color: #ff6347;
  margin-bottom: 6px;
}
.coupon-box p {
  font-size: 18px;
  color: #565353;
  margin-bottom: 8px;
}
.coupon-code {
  padding: 10px;
}
.coupon-code p {
  font-size: 16px;
  margin-bottom: 12px;
}
.coupon-code input {
  display: inline-block;
  border: 1px solid #eee;
  padding: 10px 10px;
  outline: none;
}
.coupon-code button {
  background-color: #eee;
  border: 1px solid #eee;
  padding: 10px 20px;
  color: #ff6347;
  transition: .5s;
}
.coupon-code button:hover {
  background-color: #ff6347;
  color: #ffffff;
  cursor: pointer;
}
